.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

form {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

button {
  border: none;
  padding: 15px;
  outline: none;
  border-radius: 8px;
  background-color: blue;
  color: white;
  margin-left: 28%;
  margin-bottom: 10%;
  width: 250px;
  font-size: 25px;
}
